.container{
    width: 75%;
    margin:5px auto;
    background-color: silver;
    padding:5em;
    box-shadow: 3px 3px 10px #888;
    border-radius: 9px;
}
input, button{
    padding: 8px;
    outline: none;
}
button{
    cursor: pointer;
    border-radius: 6px;
}